<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/media/icon.png" type="image/x-icon">
    
    <title>About Us | PEJA</title>
</head>
<body>

    <header role="navigation" style="display: flow-root;">
        <a href="/" class="logo">
            <img src="/static/media/logo2.0.png" alt="">
        </a>
        <nav role="navigation-bar" class="main-menu">
            <ul class="navigation-options">
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/companies">Companies</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </header>

    <div class="about-section">
        <div class="about-container">
            <div class="about-subsection">
                <div class="about-title">
                    <h1 >About Us</h1>
                </div>
                <div class="team-member">
                    <div class="about-us">
                        <img class="profile-img" src="/static/media/priyank.jpg" alt="">
                    <h2>
                        Priyank Mithapara 
                    </h2>
                    <p class="role">Developer 2</p>
                    <p>As developer 1, I used HTML, and css to create fix the media query for footer and headers for all pages. I also create a user form which asked user to file out their personal information which can be used later for our database. </p>
                    </div>
    
                    <div class="about-us">
                        <img class="profile-img" src="/static/media/Enriquepic.jpg" alt="">
                    <h2>
                        Enrique A. Budiono
                    </h2>
                    <p class="role">IT Operations & IT Orchestration and Security</p>
                    <p>
                        For this sprint, my primary focus was to building the boxes in virtualbox and proxmox where it will automatically launch
                        the website when someone put the IP address of the virtualbox or the proxomox. Also, configuring the NGINX server in proxmox
                        where the NGINX will automatically talked with the consul service.
                    </p>
                    </div>
    
                    <div class="about-us">
                        <img class="profile-img" src="/static/media/Johnpic.jpg" alt="">
                    <h2>
                        John Hernadez
                    </h2>
                    <p class="role">UI / UX Developer</p>
                    <p>
                        For this sprint, I was tasked with the role of developer 3. I was to support 
                        and assist Enrique with tasks that were to be done under the IT Orchestration and Security role as well as support Ayobami with their tasks of developing the UI/UX
                    </p>
                    </div>
    
                    <div class="about-us">
                        <img class="profile-img" src="/static/media/Ayobamipic.jpg" alt="">
                    <h2>
                        Ayobami Adebowale
                    </h2>
                    <p class="role">Project Manager and Developer 1</p>
                    <p>
                        For Sprint 05 I served as Project Manager and was involved with general PM duties such as assignment of sprint requirements with due dates, as well as overseeing communication for meetings. I contributed to UI/UX experience through providing suggestions for layout and design, as well as providing content for the FAQs page.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <a class= "footer-logo" href="#">
            <img src="/static/media/logo2.0.png" alt="">
        </a>

        <div class="footer-social-media">
            <!-- Need to add links for our social media channels -->
            <a href="#">
                <img src="/static/media/twitter-24px.logo.svg" alt="Twitter">
            </a>
            <a href="#">
                <img src="/static/media/instagram-24px.logo.svg" alt="Instagram">
            </a>
            <a href="#">
                <img src="/static/media/facebook-24px.logo.svg" alt="Facebook">
            </a>
            <a href="#">
                <img src="/static/media/youtube-24px.logo.svg" alt="Youtube">
            </a>
        </div>

        <!-- FAQ, Our Staff, Contact Us -->
        <div class="footer-about-us">
            <a href="#">Contact US</a>
            <a href="#">Our Staff</a>
            <a href="/questions">FAQ</a>
        </div>

        <!-- , Our Staff, Contact Us -->
        <div class="footer-opportunities">
            <a href="#">Careers</a>
            <a href="#">Support</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="newsletter">
            <a href="#" class="footer-button">NewsLetter</a>
            <div class="footer-copyright">
                &copy; PEJA Space Exploration. All Right Reserved
            </div>
        </div>
    </footer>
    
</body>
</html>