<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/media/icon.png" type="image/x-icon">
    
    <title>Charity | PEJA</title>
</head>

<body>

    <header role="navigation" style="display: flow-root;">
        <a href="/" class="logo">
            <img src="/static/media/logo2.0.png" alt="">
        </a>
        <nav role="navigation-bar" class="main-menu">
            <ul class="navigation-options">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/companies">Companies</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h1>Charity</h1>

            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <!-- <a href="login" class="login">Click Here to Sign In</a> -->
        </article>
    </main>

    <footer class="footer">
        <a class="footer-logo" href="#">
            <img src="/static/media/logo2.0.png" alt="">
        </a>

        <div class="footer-social-media">
            <!-- Need to add links for our social media channels -->
            <a href="#">
                <img src="/static/media/twitter-24px.logo.svg" alt="Twitter">
            </a>
            <a href="#">
                <img src="/static/media/instagram-24px.logo.svg" alt="Instagram">
            </a>
            <a href="#">
                <img src="/static/media/facebook-24px.logo.svg" alt="Facebook">
            </a>
            <a href="#">
                <img src="/static/media/youtube-24px.logo.svg" alt="Youtube">
            </a>
        </div>

        <!-- FAQ, Our Staff, Contact Us -->
        <div class="footer-about-us">
            <a href="#">Contact US</a>
            <a href="#">Our Staff</a>
            <a href="/questions">FAQ</a>
        </div>

        <!-- , Our Staff, Contact Us -->
        <div class="footer-opportunities">
            <a href="#">Careers</a>
            <a href="#">Support</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="newsletter">
            <a href="#" class="footer-button">NewsLetter</a>
            <div class="footer-copyright">
                &copy; PEJA Space Exploration. All Right Reserved
            </div>
        </div>
    </footer>

</body>

</html>