<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/media/icon.png" type="image/x-icon">
    
    <title>Companies | PEJA</title>
</head>

<body>

    <header role="navigation" style="display: flow-root;">
        <a href="/" class="logo">
            <img src="/static/media/logo2.0.png" alt="">
        </a>
        <nav role="navigation-bar" class="main-menu">
            <ul class="navigation-options">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article id="c1">
            <h1>Companies we have worked with:</h1>
            <div class="animated animatedFadeInUp fadeInUp comp1">
                <a href="https://www.spacex.com/"><img src="/static/media/sx.jpg"></a>
                <p>SpaceX's achievements include the 
                    first privately funded liquid-propellant rocket to reach orbit 
                    around Earth, the first private company to successfully launch, 
                    orbit, and recover a spacecraft, the first private company to 
                    send a spacecraft to the International Space Station, the first 
                    vertical take-off and vertical propulsive landing for an orbital 
                    rocket, the first reuse of an orbital rocket, and the first private 
                    company to send astronauts to orbit and to the International Space 
                    Station. SpaceX has flown the Falcon 9 series of rockets over one 
                    hundred times.</p>
            </div>
            <div class="animated animatedFadeInUp fadeInUp c2">
                <a href="https://www.virgingalactic.com/"><img src="/static/media/vg.png"></a>
                <p>Virgin Galactic is an American spaceflight company 
                    founded by Richard Branson. The company is developing 
                    commercial spacecraft and aims to provide suborbital 
                    spaceflights to space tourists.</p>
            </div>
            <div class="animated animatedFadeInUp fadeInUp c3">
                <a href="https://www.nasa.gov/"><img src="static/media/nasa.png"></a>
                <p>The federal agency that institutes and 
                    administers the civilian programs of the U.S. 
                    government that deal with aeronautical research 
                    and the development of launch vehicles and spacecraft. 
                    NASA has also been responsible for over 1,000 unmanned 
                    missions into space to explore the solar system and 
                    launch communication satellites.</p>
            </div>

            <!-- <a href="login" class="login">Click Here to Sign In</a> -->
        </article>
    </main>

    <footer class="footer">
        <a class="footer-logo" href="#">
            <img src="/static/media/logo2.0.png" alt="">
        </a>

        <div class="footer-social-media">
            <!-- Need to add links for our social media channels -->
            <a href="#">
                <img src="/static/media/twitter-24px.logo.svg" alt="Twitter">
            </a>
            <a href="#">
                <img src="/static/media/instagram-24px.logo.svg" alt="Instagram">
            </a>
            <a href="#">
                <img src="/static/media/facebook-24px.logo.svg" alt="Facebook">
            </a>
            <a href="#">
                <img src="/static/media/youtube-24px.logo.svg" alt="Youtube">
            </a>
        </div>

        <!-- FAQ, Our Staff, Contact Us -->
        <div class="footer-about-us">
            <a href="#">Contact US</a>
            <a href="#">Our Staff</a>
            <a href="/questions">FAQ</a>
        </div>

        <!-- , Our Staff, Contact Us -->
        <div class="footer-opportunities">
            <a href="#">Careers</a>
            <a href="#">Support</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="newsletter">
            <a href="#" class="footer-button">NewsLetter</a>
            <div class="footer-copyright">
                &copy; PEJA Space Exploration. All Right Reserved
            </div>
        </div>
    </footer>

</body>

</html>