<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/media/icon.png" type="image/x-icon">

    <title>Errors | PEJA</title>
</head>

<body>

    <header role="navigation" style="display: flow-root;">
        <a href="/" class="logo">
            <img src="/static/media/logo2.0.png" alt="">
        </a>
        <nav role="navigation-bar" class="main-menu">
            <ul class="navigation-options">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="/companies">Companies</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h1>Errors! 404 Not Found / Something is wrong in our end!</h1>

            <p>
                The page that you trying to access is not found. Please check the URL and try again. If you think this is a page that should be available
                please contact us.
            </p>

            <!-- <a href="login" class="login">Click Here to Sign In</a> -->
        </article>
    </main>

</body>

</html>