<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="icon" href="/static/media/icon.png" type="image/x-icon">

    <title>Questions | PEJA</title>
</head>
<body>

    <header role="navigation" style="display: flow-root;">
        <a href="/" class="logo">
            <img src="/static/media/logo2.0.png" alt="">
        </a>
        <h1 class="company-name">
            <!-- when a user click on site name, then they will land on our home page -->
            <a href="/" rel="home">PEJA SPACE EXPLORATION</a>
        </h1>
        <nav role="navigation-bar" class="main-menu">
            <ul class="navigation-options">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/companies">Companies</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/charity">Charity</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article id="c1">
            <h1>Ask and answer questions here!</h1>
            <div class="animated animatedFadeInUp fadeInUp sctext" id ="sctext">
                <section>
                    <h2>Who can travel to space?</h2>
                    <p>At the moment, none of the partnered 
                    companies have announced any sort of limitations 
                    on who can participate on these voyages.</p>    
                </section>
                <section>
                    <h2>How soon do I have to register for the flight in order to qualify for my trip?</h2>
                    <p>Registering for a trip varies by company ranging from a few months to up to a year in advance.</p>
                </section>
                <section>
                    <h2>Does it matter that I've never traveled by air before?</h2>
                    <p>No, eligibility will be determined and all clientele will be trained accordingly to be prepared for flight.</p>
                </section>
                <section>
                    <h2>How do I check my application status?</h2>
                    <p>An assigned agent will be in touch with you for the duration of your experience to reach out to with specific questions.</p>
                </section>
                <section>
                    <h2>Can I enroll on arrival?</h2>
                    <p>Unfortunately, the application process is very strict and takes a duration of 6 months to 1 year to process.</p>
                </section>
                <section>
                    <h2>How can I be assured that I am safe to travel?</h2>
                    <p>You will be referred to medical personnel for assessment to determine eligibility.</p>
                </section>
                <section>
                    <h2>Am I eligible for sponsorship for this trip?</h2>
                    <p>At the moment, this is entirely funded by the individual and payment is due upfront.</p>
                </section>
                <section>
                    <h2>How long is the trip?</h2>
                    <p>Your agent will be in communication with the itinerary once approval and payment are processed. It can vary from 3-10 days.</p>
                </section>
                <section>
                    <h2>How can I prepare for the trip?</h2>
                    <p>It is recommended that prospectives remain residential after approval for the training period. More info will become available via your assigned agent.</p>
                </section>
                <section>
                    <h2>What happens after I submit my application?</h2>
                    <p>Your assigned agent will be in communication with you in regards to your application query. Check your status using your application number on the website.</p>
                </section>
                <section>
                    <h2>Can I add a family member to my application?</h2>
                    <p>Applications are strictly individual and separate accounts and logins must be created to access the program.</p>
                </section>
                <section>
                    <h2>What is the waiver about?</h2>
                    <p>The waiver ensured measures are in place to protect passengers. They are available for review upon approval.</p>
                </section>
                <section>
                    <h2>What happens if I cannot complete my training?</h2>
                    <p>You will become automatically disqualified and refunded any payments outside the required deposit.</p>
                </section>
                <section>
                    <h2>Can I change my login information after submitting my application?</h2>
                    <p>No. Wrong bio information can however be corrected after beginning the process of applying and before submitting.</p>
                </section>
                <section>
                    <h2>Can I link another account like my Facebook to fill in information for me?</h2>
                    <p>No. All information must be filled manually.</p>
                </section>
                <section>
                    <h2>Is the ability to perform emergency procedures mandatory for flight?</h2>
                    <p>Absolutely. This portion of training must be passed and waived as a prerequisite for flight.</p>
                </section>
                <section>
                    <h2>Can citizens in protectorates like Puerto Ricoand the US Virgin Islands apply?</h2>
                    <p>Yes. This application is globally accessible to US citizens.</p>
                </section>
                <section>
                    <h2>Do I currently need to be on a special diet?</h2>
                    <p>A medical assessment will be performed before approval, and changes can be made accordingly through recommendation from a health professional.</p>
                </section>
                <section>
                    <h2>Do I need a passport?</h2>
                    <p>Yes. Other required documents can be found here.</p>
                </section>
                <section>
                    <h2>Is this a commercial launch?</h2>
                    <p>Yes, this is a licensed commercial launch.</p>
                </section>
                <section>
                    <h2>How large is the launch?</h2>
                    <p>In regards to the members on flight, the launch is exactly 14 crew members per flight, only 3 which are not executors of the program.</p>
                </section>
                <section>
                    <h2>What is the location of the launch site?</h2>
                    <p>It will be at a currently undisclosed location in Wichita, Texas</p>
                </section>
                <section>
                    <h2>How quickly will I be able to fly to space?</h2>
                    <p>The first flight date is planned for May 23rd, 2024.</p>
                </section>
                <section>
                    <h2>What ethical considerations are in place?</h2>
                    <p>Find our guidelines here</p>
                </section>
                <section>
                    <h2>Who needs a license or permit?</h2>
                    <p>For emergency purposes, licenses and permits will need to be obtained by all crew members. This will be facilitated during training.</p>
                </section>
                <section>
                    <h2>Do I need to have an SSN?</h2>
                    <p>Yes. Other required documents can be found here</p>
                </section>
                <section>
                    <h2>Are there vaccination requirements?</h2>
                    <p>There are vaccination requirements for the health and safety of the crew. They can be found here</p>
                </section>
                <section>
                    <h2>Is NASA responsible for this program?</h2>
                    <p>NASA is a public agency responsible for research and development in the same field but is however not affiliated with this program.</p>
                </section>
                <section>
                    <h2>Who is regulating this?</h2>
                    <p>FAA and other regulatory bodies</p>
                </section>
                <section>
                    <h2>Why is the launch site in texas?</h2>
                    <p>The priority is public safety, and according to specific regulations that can be found here, launch site is chosen.</p>
                </section>
                <section>
                    <h2>Do I need To be a certain height to fly?</h2>
                    <p>An analysis will be performed by our medical team. Crew members cannot exceed a healthy BMI and cannot be above 250 pounds or be taller than 6 foot five.</p>
                </section>
                <section>
                    <h2>Do I need any background in engineering to be a crew member?</h2>
                    <p>All required information and background is implemented during training. However it is always useful to have the ability to think critically.</p>
                </section>
                <section>
                    <h2>What are the safety practices onboard?</h2>
                    <p>This will be disclosed during training.</p>
                </section>
                <section>
                    <h2>Is there a payment plan for the trip?</h2>
                    <p>Fees must be paid in full as at when due. These dates will be communicated after a processed and accepted application.</p>
                </section>
                <section>
                    <h2>Where can I find more information about your satellites?</h2>
                    <p>Please check our info page.</p>
                </section>
                <section>
                    <h2>Is FAA regulating this flight?</h2>
                    <p>Please check out our informed consent policy.</p>
                </section>
                <section>
                    <h2>Is this a commercial launch?</h2>
                    <p>Yes.</p>
                </section>
                <section>
                    <h2>Who is allowed to operate machinery?</h2>
                    <p>There will be trained in flight crew with strictly assigned duties for the duration of the flight.</p>
                </section>
                <section>
                    <h2>How many commercial launches occur each year?</h2>
                    <p>Until our first launch in 2024, analysis will be performed before launches are scheduled subsequently biannually.</p>
                </section>
                <section>
                    <h2>Can we visit Jupiter?</h2>
                    <p>At the moment, studies and trials are performed on the moon and on Mars.</p>
                </section>
                <section>
                    <h2>Can I have a souvenir from space?</h2>
                    <p>Sample collection is being taken into consideration in accordance with foreign body laws.</p>
                </section>
                <section>
                    <h2>Can I go with my entire family?</h2>
                    <p>Space tourism capabilities Purely depends on the advancements that allow us to carry multiple members at a time. The maximum is currently 3 to mitigate some risk.</p>
                </section>
                <section>
                    <h2>When was the first US commercial launch?</h2>
                    <p>1989 in New Mexico.</p>
                </section>
                <section>
                    <h2>What can I bring with me?</h2>
                    <p>Personal items will be provided on board.</p>
                </section>
                <section>
                    <h2>Is this a collaboration with NASA?</h2>
                    <p>We have no direct affiliation with NASA.</p>
                </section>
                <section>
                    <h2>Who can access my application?</h2>
                    <p>There are multiple factor authentication to ensure that only the user is able to access their account.</p>
                </section>
            </div>

            <!-- <a href="login" class="login">Click Here to Sign In</a> -->
        </article>
    </main>

    <footer class="footer">
        <a class="footer-logo" href="#">
            <img src="/static/media/logo2.0.png" alt="">
        </a>

        <div class="footer-social-media">
            <!-- Need to add links for our social media channels -->
            <a href="#">
                <img src="/static/media/twitter-24px.logo.svg" alt="Twitter">
            </a>
            <a href="#">
                <img src="/static/media/instagram-24px.logo.svg" alt="Instagram">
            </a>
            <a href="#">
                <img src="/static/media/facebook-24px.logo.svg" alt="Facebook">
            </a>
            <a href="#">
                <img src="/static/media/youtube-24px.logo.svg" alt="Youtube">
            </a>
        </div>

        <!-- FAQ, Our Staff, Contact Us -->
        <div class="footer-about-us">
            <a href="#">Contact US</a>
            <a href="#">Our Staff</a>
            <a href="/questions">FAQ</a>
        </div>

        <!-- , Our Staff, Contact Us -->
        <div class="footer-opportunities">
            <a href="#">Careers</a>
            <a href="#">Support</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="newsletter">
            <a href="#" class="footer-button">NewsLetter</a>
            <div class="footer-copyright">
                &copy; PEJA Space Exploration. All Right Reserved
            </div>
        </div>
    </footer>

</body>

</html>