.DS_Store
packer-cache/
packer_cache/
*.box
build/
output*/
*~$
.vmdk
.ovf
.vagrant/*
.vagrant/
vagrant.d/
*.iso
variables.pkr.hcl
*.vdi
*console.log
*.pem
*.ova
*.priv
variables.json
id_rsa
id_rsa*
id_rsa.pub
.Vagrantfile*
Vagrantfile~
config.default.yml

# Node.js
node_modules/

arguments.txt
maria.json