(logging/init {:file "/var/log/riemann/riemann.log"})
; Added the TCP library so riemann can sen events over the network
(require 'riemann.client)
; Added the mailer library so riemann can email us
(require '[examplecom.etc.email :refer :all])

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "192.168.33.102"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))

(periodically-expire 10 {:keep-keys [:host :service :tags, :state, :description, :metric]})

(let [index (index)]
  ; Inbound events will be passed to these streams:
  (streams
    (default :ttl 60
      ; Index all events immediately.
      index

      ;#(info %)
      (where (and (service "disk /") (> metric 0.10))
        #(info "Disk space on / is over 10%!" %))
      ; Note the emailing only works if you are on the campus
      (expired
        (where (service #"^riemann.*")
          (throttle 1 600
            (email "ebudiono@hawk.iit.edu")
          )
        )
      )
    )
  )
)